<!-- INIZIO ToolLista.vm -->

<SCRIPT LANGUAGE="JavaScript">

  function $funcNameEdit(url, tipo)
  {
    apriFinestraEdit(url, tipo);
  }

  function $funcNameSubmit()
  {
    var url = "$baseUri";
    $("#search_${unique}").html("");

    jQuery.ajax({
      type: "POST",
      url: url,
      data: $("#$formName").serialize(), // serializes the form's elements.
      success: function (data)
      {
        $("#$bodyName").html(data);
      }
    });

    return false; // avoid to execute the actual submit of the form.
  }

  function ricerca$funcNameSubmit()
  {
    var url = "$baseUri";
    $("#data_${unique}").html("");

    jQuery.ajax({
      type: "POST",
      url: url,
      data: $("#$formName").serialize(), // serializes the form's elements.
      success: function (data)
      {
        $("#$bodyName").html(data);
      }
    });

    return false; // avoid to execute the actual submit of the form.
  }

  function jump$formName(url)
  {
    jQuery.ajax({
      type: "GET",
      url: url,
      success: function (data)
      {
        $("#$bodyName").html(data);
      }
    });
  }

  function showRic$unique()
  {
    $("#data_${unique}").hide();
    $("#search_${unique}").show();
  }

  function hideRic$unique()
  {
    $("#search_${unique}").hide();
    $("#data_${unique}").show();
  }

  function pulisciRicerca$unique()
  {
    var url = "$baseUri";
    jump$formName(url + "?filtro=3")
  }

  // $htpage.allJavascriptNotag

  // this is the id of the form
  jQuery(function () {
    $("#$formName").submit($funcNameSubmit);
  });

</SCRIPT>

<form name="$formName" id="$formName" method="post" action="javascript:alert('Javascript runtime error.');">
  <div id="$bodyName">
    <!-- __START_CUT__ -->

    <div id="data_${unique}" style="display: inline">

      <!-- html ricerca semplice -->
      $htpage.getHtml("simplesearch")

      <!-- html principale -->
      <div class="rigel_body" style="padding: 2px;">
        $htpage.getHtml("body")
      </div>

      <!-- html navigazione -->
      $htpage.getHtml("nav")

    </div>

    <div id="search_${unique}" style="display: none">

      <!-- html ricerca avanzata -->
      $htpage.getHtml("search")

    </div>

    <!-- __END_CUT__ -->
  </div>
</form>

<!-- FINE ToolLista.vm -->
