<!-- INIZIO ToolDatatable.vm -->

<SCRIPT LANGUAGE="JavaScript">

  jQuery(function () {

    $("#idtable_${unique}").DataTable({

      stateSave: true,
      stateSaveCallback: function (settings, data) {
        localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data));
      },
      stateLoadCallback: function (settings) {
        return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance));
      },

      ajax: "${data.getContextPath()}/rigeltool/datatable/unique/${unique}",
      processing: true,
      search: {
        return: true
      },
      serverSide: true,
      bAutoWidth: false,

      columnDefs: [{ type: 'html' }]
    });
  });

</SCRIPT>

<$tableStatement>
<thead>
  <tr>
    $commonHeader
  </tr>
</thead>
#if($visFooter)
<tfoot>
  <tr>
    $commonHeader
  </tr>
</tfoot>
#end
</table>

<!-- FINE ToolDatatable.vm -->
